
<header class="panel-heading">
    <div class="row">
        <div class="col-lg-11">
            <h4>
                <span class="text-danger" id="warning"></span>
            </h4>
            <form class="form-inline" role="form" >
                <div class="form-group">
                    <label for="selstarttime">起始时间</label> <input class="form-control form_date time"  size="10" type="text" id="selstarttime" name="starttime" data-date-format="yyyy-mm-dd">
                </div>
                <div class="form-group">
                    <label for="selendtime">&nbsp;&nbsp;&nbsp;&nbsp;结束时间</label> <input class="form-control form_date time" size="10" type="text"  id="selendtime" name="endtime" data-date-format="yyyy-mm-dd">
                </div>
                <div class="form-group">
                    <label for="sellength">&nbsp;&nbsp;&nbsp;&nbsp;每页条数</label> <input class="form-control" size="5" type="text"  id="sellength" name="sellength">
                </div>
                <button type="button" class="btn btn-primary" id="search-history">查询</button>
            </form>
        </div>
    </div>
</header>

<div class="panel-body">
    <div class="adv-table">
        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table class="display text-center table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                <thead>
                <tr role="row">
                    <th class="text-center sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="用户名: activate to sort column ascending" style="width: 137px;">时间</th>
                    <th class="text-center sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="新增: activate to sort column ascending" style="width: 137px;">用户名</th>
                    <th class="text-center sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="付费(元): activate to sort column ascending" style="width: 216px;">ip</th>
                </tr>
                </thead>
                <tbody id="my_tbody" role="alert" aria-live="polite" aria-relevant="all">
                {{#dataList}}
                    <tr class="gradeA odd">
                        <td class="  sorting_1">{{gmt_create}}</td>
                        <td class="  sorting_1">{{username}}</td>
                        <td class=" ">{{ip}}</td>
                    </tr>
                {{/dataList}}
                </tbody></table>

        </div>
    </div>
</div>