
<div class="form-inline">
    <div class="form-group">
        <div class="col-sm-2">
            <input type="text" data-role="search-text" class="form-control" placeholder="请输入{{name}}名">
        </div>
        <div class="col-sm-offset-6 col-sm-2">
            <input type="button" class="btn btn-success" id="search" value="搜索">
        </div>
    </div>
</div>
