{{{发送通知}}}

<div class="panel-body">
    <textarea name="" id="notify-msg" cols="80" rows="10"></textarea>
</div>
<div class="panel-body">
    <input type="button" id="send-msg" class="btn btn-success" value="发送"/>
</div>